*{
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}

@media print {
    body * {
        visibility: hidden;
    }
    #inputTextToSave, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}
#inputTextToSave:focus{
    /*outline: 2px solid #0747A6;*/
    border-radius: 8px;
}
#inputTextToSave{
    /*outline: 2px solid #0747A6;*/
    border-radius: 8px;
}

body, .__bu-primary-bg {
    /*background: rgba(0,0,0,0.06);*/
    color: #031b4e !important;
    background: #f3f5f9;
}

.__bu-editor-border {
    border-color: rgb(76, 154, 255);
}
.watermark {
    opacity: 0.2;
    color: gray;
    font-size: 75px;
    position: fixed;
    top: 45%;
    left: 30%;
}
.__bu-header-h {
    background-color: #fff;
    color: #212121;
    height: 35px;
    text-align: center;
    font: 500 14px/20px Google Sans,sans-serif;
    letter-spacing: 0.7px;
}
.__bu-secondary-sidebar-w {
    width: 20px !important;
}
.__bu-primary-b-shadow {
    -webkit-box-shadow: 0 2px 4px rgba(3,27,78,.1);
    box-shadow: 0 2px 4px rgba(3,27,78,.1);
    /*box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);*/
}
.__bu-primary-side-b-shadow {
    -webkit-box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.1);
    /*box-shadow:  1px 0 0 1px  rgba(0,0,0,.16);*/
}

.__bu-sidebar {
    border: 3px solid white;
    margin: 0;
    padding: 0;
    width: 40px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}

.__bu-sidebar a {
    display: block;
    color: black;
    text-decoration: none;
}
.__bu-sidebar-img-user {
    width: 32px;
    height: 32px;
}

/*.__bu-sidebar a.active {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*}*/

/*.__bu-sidebar a:hover:not(.active) {*/
/*    background-color: #555;*/
/*    color: white;*/
/*}*/

div.__bu-content {
    margin-left: 41px;
    padding: 1px 16px;
    height: calc(100% - 37px);
    position: fixed;
    overflow: auto;
    width: 96.9%;
}

@media screen and (max-width: 700px) {
    .__bu-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .__bu-sidebar a {float: left;}
    div.__bu-content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .__bu-sidebar a {
        text-align: center;
        float: none;
    }
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding-top: 36px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*
    DEMO STYLE
*/

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-right: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-right: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.dropdown-toggle::after {
    display:none;
}
.nav-item, .dropdown-item{
    cursor: pointer;
}
.dropdown, .dropdown-item {
    font-size:13px;
}
/*.navbarEditDropdown {*/
/*    width: 195px;*/
/*}*/
.modal-content {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    bottom: 0;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
}
/* Other styles for the page not related to the animated dropdown */