*{
    margin: 0;
    padding: 0;
}

body, .__bu-primary-bg {
    /*background: rgba(0,0,0,0.06);*/
    color: #031b4e !important;
    background: #f3f5f9;
}

.__bu-editor-border {
    border-color: rgb(76, 154, 255);
}
.watermark {
    opacity: 0.2;
    color: gray;
    font-size: 75px;
    position: fixed;
    top: 45%;
    left: 30%;
}
.__bu-header-h {
    background-color: #fff;
    color: #212121;
    height: 35px;
    text-align: center;
    font: 500 14px/20px Google Sans,sans-serif;
    letter-spacing: 0.7px;
}
.__bu-secondary-sidebar-w {
    width: 20px !important;
}
.__bu-primary-b-shadow {
    -webkit-box-shadow: 0 2px 4px rgba(3,27,78,.1);
    box-shadow: 0 2px 4px rgba(3,27,78,.1);
    /*box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);*/
}
.__bu-primary-side-b-shadow {
    -webkit-box-shadow:  2px 4px 0 rgba(3,27,78,.1);
    box-shadow:  2px 4px 0 rgba(3,27,78,.1);
    /*box-shadow:  1px 0 0 1px  rgba(0,0,0,.16);*/
}

.__bu-sidebar {
    margin: 0;
    padding: 0;
    width: 48px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}

.__bu-sidebar a {
    display: block;
    color: black;
    text-decoration: none;
}
.__bu-sidebar-img-user {
    width: 32px;
    height: 32px;
}

/*.__bu-sidebar a.active {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*}*/

/*.__bu-sidebar a:hover:not(.active) {*/
/*    background-color: #555;*/
/*    color: white;*/
/*}*/

div.__bu-content {
    margin-left: 48px;
    margin-top: 36px;
    padding: 1px 16px;
    height: 94%;
    position: fixed;
    overflow: auto;
    width: 96.4%;
}

@media screen and (max-width: 700px) {
    .__bu-sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .__bu-sidebar a {float: left;}
    div.__bu-content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .__bu-sidebar a {
        text-align: center;
        float: none;
    }
}